/* reseteo */
html {
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
}

/* para que todos los elementos hereden el box sizing */
*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    overflow-x: hidden;
}

img {
    max-width: 100%;
    height: auto;
}

ul {
    padding: 0;
}

.logo img {
    width: 400px;
    height: 400px;
}

nav {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 5rem;
    align-items: center;
    padding: 5rem;
    height: auto;
    border-bottom: solid 10px #a67c2e;
    width: 100%;
}

nav ul {
    list-style: none;
    display: flex;
    width: 65%;
    justify-content: space-between;
    width: 100%;



}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 3rem;
}

nav ul li a:hover {
    color: #a67c2e;
    font-weight: bold;
    font-size: 3rem;
}

.btn-panel {
    position: fixed;
    z-index: 999;
    bottom: 5vh;
    right: 1vw;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border: solid 1px black;
    display: none;
}

.panel {
    list-style: none;
    position: fixed;
    z-index: 997;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(34, 34, 34, 0.85);
    text-align: center;
    width: 100%;
    transition: transform .3s ease;
    transform: translate(100%, 0);
}

.hamb {
    position: inherit;
    z-index: 998;
}

.hamburger-inner,
.hamburger-inner:after,
.hamburger-inner:before {
    background-color: white;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner:after,
.hamburger.is-active .hamburger-inner:before {
    background-color: white;
}

.panel.is-active {
    transform: translate(0, 0);
}

.panel li {
    width: inherit;
}

.panel li a {
    color: white;
    padding: 2rem;
    width: inherit;
    display: block;
    font-size: 1.5rem;
    text-decoration: none;
    transition: all 0.3 ease;
    font-size: 40px;
}

header aside .footerPanel {
    display: flex;
    width: 80%;
}

.footerPanel a img {
    width: 50px;
    height: 50px;
}

.menu {
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    list-style: none;
    height: 100%;
}

.menu a:hover {
    font-weight: bold;
    color: black;
    background-color: rgb(255, 255, 255, 0.7);
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    background-color: #a67c2e;
    justify-content: center;
}

.card {
    position: relative;
    width: 30%;
    margin: 20px;
    transition: transform 0.2s ease-in-out;
}

.card-container .card:hover {
    transform: scaleY(0.9);
}



.card img {
    width: 39rem;
    height: 23rem;
}

.card-text {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    color: #fff;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.card-text h2 {
    margin: 0;
    font-size: 1.5em;
}

.card-text p {
    margin: 0;
}

footer {
    background-color: black;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


footer section a img {
    height: 70px;
    width: 70px;
    color: #fff;

}

.sucursales {
    display: flex;
    flex-direction: column;
    color: #fff;
    text-decoration: none;
}

.sucursales h2 {
    font-size: 50px;
    text-decoration: underline;

}

.sucursales a {
    text-decoration: none;
    color: #fff;
    font-size: 40px;
}

.sucursales a:hover {
    text-decoration: none;
    color: #a67c2e;
    font-size: 40px;
}


.rrss {
    width: 10%;
    display: flex;
    justify-content: space-around;
}

.rrss a {
    margin-left: 5%;
}

.rrss a img {
    transition: transform 0.2s ease-in-out;

}

.rrss a img:hover {
    transform: scaleY(1.1);


}





@media screen and (max-width: 1024px) {
    .btn-panel {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    nav ul {
        display: none;
    }

    footer {
        display: none;
    }

    .card img {
        height: 21rem;
    }

}

@media screen and (max-width: 640px) {
    .card img {
        height: 15rem;
    }

    .card-text h2 {
        font-size: 12px;
    }
}