body {
  background-color: #732001;

}

h1 {
  margin-left: 1%;
}

h1,
h2 {
  color: #A67C2E;
}



.sucursal {
  background-color: #312821;
  color: #F2F2F2;
  margin: 2%;
  padding: .7%;
  float: left;
  width: max-content;
  width: 33, 33%;
  border-radius: 5%;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

h2 {
  font-size: 34px;
}

h1 {
  font-size: 44px;
}

.mapsContainer {
  display: flex;
  justify-content: center;
}

